html, body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outerCalc {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    display: flex;
    align-items: center;
}

.vertSpace {
    margin-top:-8px;
    margin-bottom: -7px;
}

#memoryNegExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 15px;
}

#inputOutput {
    font-family: 'Orbitron';
    font-weight: 550;
    font-size: 35px;
    text-align: end;
}

#buttonContainer {
    display: flex;
}

button {
    width: 80px;
    height: 50px;
}

#leftButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}

#rightButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
}